# .coveragerc to control coverage.py
[run]
branch=True
parallel=True
# Including the src directory
include=pymal/*
omit=*decorators.py
    *__init__.py
    *consts.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about import
    import
    from

    # Don't complain about missing debug-only code:
    def __repr__
    if DEBUG

    # Don't complain if tests don't hit defensive assertion code:
    # raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    if .__main__. == __name__:

    # Don't complain about decorators
    @

precision=2
show_missing = True