# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

beautifulsoup4>=4.3.2
html5lib>=0.999
httpcache>=0.1.3
nose2>=0.4.7
six>=1.1,<1.4
requests>=2.3.0
pillow>=2.4.0
singleton>=0.1.0
