# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

# Those are required for running
beautifulsoup4>=4.3.2
html5lib>=0.999
httpcache>=0.1.3
six==1.3
requests>=2.4.1
pillow>=2.6.0
singleton3>=1.0
singleton-factory>=0.1
reloaded-set>=0.3
