#dialog
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	border: 10px solid #e1e7f5;
}



#dialog td
{
	border: 1px solid #1d439b;
	padding: 7px;
}

#dialog td td
{
	border-width: 0;
}