.review_scoreoff
{
	width: 20px;
	padding: 3px;
	text-align: left;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	background-color: #ebebeb;
	color: black;
	text-align: center;
}

.review_scoreon
{
	width: 20px;
	padding: 3px;
	text-align: left;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	background-color: #1d439b;
	color: #ffffff;
	text-align: center;
	cursor:pointer;
}

.review_score
{
	font-size: 10px;
	text-align: center;
}

.score_top
{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #1d439b;
	text-align: left;
	font-weight: bold;
	font-size: 10px;
}

.review_score_over
{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #1d439b;
}

.review_description
{
	font-color: #000;
	font-size: 10px;
	text-align: center;
}

.review_box
{
	padding: 1px;
}

.review_title
{
	font-size: 16px;
	font-weight: bold;
}

.review_content
{
	padding: 5px;
}


.review_date
{
	font-size: 9px;
	margin: 3px 0px;
}

.review_helpful_stats
{
	font-size: 9px;
	margin: 3px 0px;
}

.review_surround
{
	margin: 10px 0px;
}

.review_score_seriespage
{
	
	margin: 5px 5px 5px 10px;
	float: right;
	clear: both;
	width: 125px;
}

.review_helpful_seriespage
{
	margin: 14px 0 0 0 0;
}

.reviewDetails {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
