.vote_container
{
	background-color: #e1e7f5;
}

.message_separator
{
	background-color: #4f74c8;
	font-size: 1px;
	height: 2px;
}

.forum_category
{
	background-color: #4f74c8;
	color: #ffffff;
	font-weight: bold;
	padding: 3px;
}

.forum_category a, .forum_category a:link, .forum_category a:hover, .forum_category a:visited 
{
	color: #fff;
}

.to-left {
    float: left;
}

.to-left > a {
    float: left;
    padding: 0 10px 0 0;
}

.forum_boardrow2
{
	background-color: #f6f6f6;
	padding: 6px 3px;
	border-style: solid;
	border-color: #ebebeb;
	border-width: 0px;
}

.forum_boardrow1
{
	background-color: #ffffff;
	padding: 6px 4px;
	border-style: solid;
	border-color: #ebebeb;
	border-width: 0px;
	vertical-align: top;
}

.sig
{
	margin-top: 5px;
	padding-top: 10px;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #ebebeb;
	max-height: 160px;
	overflow: hidden;
}

.quotetext, .codetext
{
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #ebebeb;
	padding: 5px;
}

.forum_boardrowheader
{
	background-color: #ebebeb;
	padding: 3px;
}

.forum_boardrowspacer
{
	background-color: #ffffff;
	font-size: 1px;
	height: 8px;
}

.forum_postusername a
{
	color: #444444;
	text-decoration: none;
}

.forum_postusername a:visited
{
	color: #444444;
	text-decoration: none;
}

.forum_postusername a:hover
{
	color: #444444;
	text-decoration: underline;
}

.forum_locheader
{
	color: #444444;
	font-size: 14px;
	font-weight: bold;
}

#forum_options_container ul
{
	 margin: 0;
	padding: 0;
	list-style-type: none;
}

#forum_options_container ul li
{
	border-style: solid;
	border-color: #82a0e5;
	padding: 3px;
	border-width: 1px;
	display: inline;
}

.postActions {
	margin: 12px 0 0 0;	
}